body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;

}

div {
    background-color: red;
}

i {
    color: yellow;
}

h1 {
    color: white;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-family: 'Otomanopee One', sans-serif;
}