a {
    font-size: 45px;
    display: inline-block;
    padding: 15px 40px;
    background-color: orange;
    color: black;
    text-decoration: none;
    border-radius: 1000px;
}
a:hover {
    background-color: yellow;
}
a:active {
    background-color: orange;
}
h1 {
    color: blue;
}
.red:hover {
    color: red;
}
.kavin{
    background-color: red;
}




/* link , :hover, :active,:visited */

/* a:link {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
a:visited {
    color: green;
} */