ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: grey;
}
ul li {
    float: left;
    padding: 15px 30px;
}
ul a {
    text-decoration: none ;
    display: inline-block;
    color: white;
}
ul li:hover{
    background-color: red;
}
.right{
    float: right;
}
.active {
    background-color: red;
}