body {
    background: url("../images/cakes.jpg") no-repeat center fixed;
    background-size: cover;
}

div {
    background-color: rgb(58, 58, 58);
    width: 60%;
    margin: 150px auto;
    text-align: center;
    color:  white;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    opacity: 0.85;
}

i {
    font-size: 50px;
    margin-top: 10px;
}

button {
    font-size: 25px;
    background-color: rgb(0, 255, 0);
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 35px;
}