body {
    font-family: 'Mulish', sans-serif;
    background: #2d2d2d;
}


.sidebar li {
    padding: 20px;
    margin-right: 50px;
}
.sidebar a {
    text-decoration: none;
    color: white;;
}


.bg {
    background: #191919;
}
.bg h1{
    color: white;
    margin-top: 15px ;
    margin-bottom: 20px;
}


.box-blue {
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(to bottom right ,#8800ff,#320194);
    text-align: center;
    padding: 60px;
}
.box-blue h2 {
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 45px;
}


.box-orange {
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(to bottom right ,#ffbb00,#ff5500);
    text-align: center;
    padding: 60px 73px;
}
.box-orange h2 {
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 45px;
     
}


.box-pink {
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(to bottom right ,#e041b3,#ff0055);
    text-align: center;
    padding: 60px;
}.box-pink h2 {
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 45px;
}


@media (max-width: 1024px){
    .box-blue {
        padding: 60px;
    }
    .box-blue h2 {
        font-size: 30px;
    }
    .box-orange {
        padding: 60px ;
    }
    .box-orange h2 {
        font-size: 30px;
    }.box-pink {
        padding: 60px ;
    }
    .box-pink h2 {
        font-size: 30px;
    }
    
}