body {
    margin: 0;
    font-family: var(--cui-body-font-family);
    font-size: var(--cui-body-font-size);
    font-weight: var(--cui-body-font-weight);
    line-height: var(--cui-body-line-height);
    color: var(--cui-body-color);
    text-align: var(--cui-body-text-align);
    background-color: var(--cui-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 21, 0);
}
.sm-cover{
    box-shadow: inset 0 0 10rem black;
}
.bg-cover {
    position: fixed;
    height: 120%;
    width: 120%;
    z-index: -1;
}

.bg-cover div {
    background-size: cover;
    background-position: center center;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

@media (min-width: 961px) {
    .bg-cover div {
        background-position: 80% center !important;
    }
}

@media (max-width: 960px) {
    .bg-cover div {
        background-position: 70% center !important;
    }
}

@media (min-width: 1025px) {
    .bg-cover div {
        background-position: 90% center !important;
    }
}

@media (min-width: 1281px) {
    .bg-cover div {
        background-position: 100% center !important;
    }
}
