body {
    background: linear-gradient(to bottom right ,#006eff , #6d8fed);
    height: 370px;
    font-family: 'Quicksand', sans-serif;
}
.container {
    margin: 0 auto;
    margin-top: 250px;
    width: 600px;
}
.pass {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: red;
    margin-bottom: 15px;
}
.myBtn {
    width: 100%;
    margin-bottom: 15px;
    background: linear-gradient(to bottom right,#e65140 , #f5af19);
    padding: 20px;
}
.in {
    margin: 0 auto;
    padding: 20px;
}
.length {
    text-align: center;
}