/* Set the size of the div element that contains the map */
body{
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }