body {
    font-family: 'Quicksand', sans-serif;
    height: 475px;
    background: linear-gradient(to bottom right , #2193b0,#6dd5ed);
}

.container {
    background: linear-gradient(to bottom right , #FF4E50 , #F9D423);
    margin: 150px auto;
    width: 350px;   
    box-shadow: 3px 3px 7px 7px rgba(0,0,0,0.17);
}
.gray {
    color: black;
    text-decoration: line-through;
}
ul {
    list-style: none;
}
h1 {
    color: white;
    background: linear-gradient(to bottom right , #FF512F , #F09819);
    margin: 0 -15px;
    width: 350px;
    font-size: 35px;
    padding: 10px 13px;
    text-align: center;
}
input {
    margin: 0 -15px;
    width: 350px;
    padding: 10px 13px;
}
input.focus {
    outline: none;
    color: #004FF9;
    font-weight: 700;
}
ul li {
    margin: 0;
    color: white;
    padding: 10px 13px;
    font-weight: 700px;

}