video {
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -400px ;
    margin-left: -900px;
    z-index: 1;
}

div {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 730px;
    text-align: center;
    margin-top: 15%;
    background-color: grey;
    opacity: 0.9;
    border-radius: 25px;
    padding: 20px;
}

h1 {
    font-size: 50px;
}

a {
    display: inline-block;
    padding: 20px;
    border: 3px solid red;
    text-decoration: none;
}