body {
    background-color: #292929;
    font-family: 'Quicksand', sans-serif;
    

}


.hovernavbar:hover {
    background: #ffbf00;
}




.maintenance {
    height: 380px;
    text-align: center;
    font-family: 'Calistoga', cursive;
}.maintenance h1 {
    font-size: 60px;
    margin-top: 190px;
}.maintenance h2{
    margin-top: 50px;
    font-size: 30px;
    color: yellow;
} @media (max-width: 768px) {
    .maintenance h1 {
        font-size: 40px;
        margin-top: 150px;
    }.maintenance h2{
        margin-top: 30px;
        font-size: 25px;
    }
}@media (max-width: 425px) {

    .maintenance h1 {
        font-size: 20px;
        margin-top: 100px;
    }.maintenance h2{
        margin-top: 30px;
        font-size: 15px;
    }

}




.parallax {
    height: 660px;
    color: white;
    text-align: right;
}.parallax h1 {
    padding-top: 200px;
    font-family: 'Calistoga', cursive;
}
.starthere{
    margin-top: 30px; 
    color: white;
    margin-right: 130px;
}.starthere :hover {
    color: black;
}@media (max-width: 320px) {
    .parallax {
        height: 100px;
        width: 100%;
    }.starthere{
        margin-top: 10px;
        margin-right: 50px; 
        color: white;
    }
}
    



.services {
    color: white;
    text-align: center;
}.services button {
    height: 250px;
    width: 300px;
    font-size: 10px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(51,51,51) ;
}.services button:hover {
    box-shadow: 0px 0px 20px 0px rgb(255,184,6,1);
    color: white;
}.services i {
    font-size: 85px;
    padding-bottom: 20px;
}.services h1 {
    font-family: 'Calistoga', cursive;
}



.service {
    color: white;
    text-align: center;
}.service i {
    font-size: 80px;
    padding-bottom: 20px;
}.service h1 {
    font-family: 'Calistoga', cursive;
}.service h2 {
    font-size: 60px;
}.service h5 {
    font-size: 30px;
}.service button {
    height: 250px;
    width: 300px;
    font-size: 10px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #292929;
}.service button:hover {
    background-color: rgb(51,51,51) ;
    color: white;
}




.works {
    margin-top: 50px;
    color: rgb(255,184,6,1);
    text-align: center;
    font-family: 'Calistoga', cursive;
}







.footer {
    height: 300px;
    width: 100%;
    color: black;
    background: linear-gradient(to bottom right,#FFC107,#ffbf00,#fffb00) ;
    border-radius: 10% 10% 0 0  ;
    text-align: right;
}.footerfirstrow {
    margin-top: 20px;
}.footerfirstrow h1 {
    font-family: 'Calistoga', cursive;
}
.footerfirstrow a{
    margin: 0 15px;
    font-size: 30px;
    color: black;
}.footerfirstrow p{
    font-size: 15px;
    color: black;
}.lastfooter  {
    height: 35px;
    background-color: #292929;
    color: white;
}.lastfooter p {
    margin-top: 30px;
}