body {
    font-family: 'Quicksand', sans-serif;
}


.Titlefont {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


.top {
    margin-top: 63px;
}


.profiles {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
}


.profiles img {
    margin-bottom: 10px;
}
.profiles h1{
    margin-bottom: 15px;
}
.profiles p {
    margin-left: 20px;
    margin-right: 20px;
}


.parallax {
    height: 300px;
    text-align: center;
    padding: 110px;
    color: white;
}


.content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px ;
}
.content h1 {
    margin-top: 100px ;
}


footer {
    height: 70px;
    padding: 25px 50px;
    background: lightslategray;
}
footer a {
    color: white;
}
.fontsize {
    font-size: 25px;
    padding-right: 5px;
}
.right {
    float: right;
    color: white;
}
@media (max-width: 768px){
    .parallax {
        padding: 60px;
    }
    .parallax h1 {
        margin-top: 20%;
        font-size: 20px;
    }
}

