body {
    background: url("https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_960_720.jpg") no-repeat fixed ;
    background-size: cover ;
    background-position: center;
}
.black {
    background-color:rgb(32, 32, 32);
    height: 300px;
    margin-top: 10%;
    border-radius: 30px;
    text-align: center;
    color: white;
    padding: 50px;
    font-family: 'Kurale', serif;
    opacity: 0.955;
}
@media (min-width:319px) {
    .black {
        background: red;
    }
    h1 {
        font-size: 30px;
    }
    h4 {
        font-size: 15px;
    }
}
@media (min-width:768px) {
    .black {
        background: purple;
    }
    h1 {
        font-size: 30px;
    }
    h4 {
        font-size: 15px;
    }
}
@media (min-width:1024px) {
    .black {
        background:  rgb(32, 32, 32);
    }
}